
.modal {
  
  display: none;
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: #3194DB;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -200px;
  padding: 20px;
  border-radius: 5px;
}

.modal a:hover {

  color: red;
}

.modal a {
  float: right;
  font-size: 24px;
  text-decoration: none;
  color: black;
  margin-top: -15px;
  margin-right: -12px;
  cursor: pointer;
}

.modal > h2, .frase {
  font-weight: bolder;
  text-align: center;
  color: white;
}

#portifolio {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 0px auto;
  width: 600px;
  height: 300px;
  overflow: hidden;
  
}

.slides {
  width: 100%;
  height: 300px;
  display: flex;
  
}

.slides input {
  display: none;
}

.slide {
  max-width: 600px;
  position: relative;
  transition: 2s;
  
}

.slide img {
  width: 600px;
  
}

/* .manual-navegation {
  position: relative;
  margin-left: 40%;
  width: 400px;
  margin-top: -40px;
  

} */

.manual-btn {
  align-items: stretch;
  border: 2px solid rgb(196, 185, 185);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 17px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radi01:checked ~ .first{
  margin-left: 0px;
}

#radio2:checked ~ .first{
  margin-left: -100%;
}

#radio3:checked~.first {
  margin-left: -200%;
}

#radio4:checked~.first {
  margin-left: -300%;
}

#radio5:checked~.first {
  margin-left: -400%;
}

.navegation-auto div {
  border: 2px solid rgb(251, 247, 247);
  padding: 5px;
  margin-right: 22px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

}

.navegation-auto {
  position: absolute;
  margin-left: 30px;
  width: 600px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.navegation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~.navegation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~.navegation-auto .auto-btn3 {
  background-color: #fff;
}

#radio4:checked ~.navegation-auto .auto-btn4 {
  background-color: #fff;
}

#radio5:checked ~.navegation-auto .auto-btn5 {
  background-color: #fff;
}
input {
  padding: 5px;
  margin-right: 50px;
}

.nome-projeto {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.descricao {
  
}

.rodape {
  background-color: black;
  border-radius: 6px;
}